/* Blog CSS for Phase-0 DBC */

/* Color Pallette
* Tan: #f0d2b2;
* Blue: #649af6;
* Dark Brown: #422609
* Orange: #f08237;

Code Block:
* Light Grey: #c3c3c3;
********/


/* Header Styling Elements */

#blog_header {
  background-color:
  height: 50px;
  background-color: lightgrey;
  padding-top: 10px;
  border-bottom:5px solid #422609;
  margin-bottom: 0px;
}

#blog_header > nav > ul > li {
  display:inline-block;
  font-size: 1.5em;
}

#blog_header nav {
  text-align: center;
}

header h1, header h2 {
  text-align: center;
  font-family: Arial, sans-serif;
}

/*** MAIN  ***/

ol  a {
  text-decoration: none;
}

ol  a:link {
  color:#f08237;
}

ol  a:visited {
  color:#f08237;
}

ol  a:hover {
  color:#649af6;
}

img.screenshot {
  width: 80%;
}

code {
  background-color: #c3c3c3;
  display:inline-block;
  padding: 4px 4px;
}

/* MAIN ITEMS */

h1 {
  padding-top: 50px;
}

main  {
  width: 100%;
  /*float:right;*/
}

ol {
text-align: center;
}

ol > li {
  margin: 15px 15px;
}

aside {
  width: 10%;
}

