/* Blog CSS for Phase-0 DBC */

/* Color Pallette
* Tan: #f0d2b2;
* Blue: #649af6;
* Dark Brown: #422609
* Orange: #f08237;

Code Block:
* Light Grey: #c3c3c3;
********/
/* New Color Palette 1/7/16
Blue: #1a455f; //rgba(26, 69, 95, 100)
Green: rgba(26, 69, 45, 100);
Brown: #72593d; //rgba(114, 89, 61, 100)
Maroon: #482728; //rgba(72, 39, 40, 100)
Grey: #635c51; //rgba(99, 92, 81, 100)
Yellow: #e5a532; //rgba(229, 165, 50, 100)


/* Header Styling Elements */


header.blog_header {
height: 150px;
background: #e5a532;


}

h1.h1_blog {
font-family: 'Iceberg', cursive;
font-size: 2.5em;
text-align: center;
padding-top: 20px;
}


h2 {
  padding-top: 20px;
}

h3 {

}

.blog_aside li {
  display:inline-block;
}

.blog_aside ul {
  text-align: center;
  text-decoration: none;
}

.blog_aside a {
  text-decoration: none;
}
